// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

*
  margin 0
  padding 0

#header
  position absolute
  top 0
  left 0
  height 10%
  width 100%

#userlist
  position absolute
  top 10%
  left 0
  height 90%
  width 10%

#editor, #editor-js, #viewer, #viewer-js
  position absolute
  top 10%
  left 10%
  height 45%
  width 45%

#editor-js, #viewer-js
  left 55%

#viewer, #viewer-js
  top 55%

.hidden
  display none
