// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

*
  margin 0
  padding 0

#header
  position absolute
  top 0
  left 0
  height 10%
  width 100%


#editor, #editor-js
  position absolute
  top 10%
  left 0
  height 45%
  width 50%

#editor-js
  left 50%

.hidden
  display none
