// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

*
  margin 0
  padding 0

#editor
  position absolute
  top 0
  left 0
  height 50%
  width 50%


