!!! 5
html(lang="en")
  head
    != SocketStream
    title Welcome
  body
    #wrapper
      #main.views.hidden
        #header
          #username
        #editor
        #editor-js

      form(onsubmit: 'return false')#signIn.views.hidden
        h1 Please enter a username to begin:
        input(type='text')

